.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted{
  margin-top: 20px;
}

.panelAdministracionUsuarios{
  margin-left:200px;
  margin-right:200px;
}
#segmentosGrupo{
  display: inline !important;
}

#modalPersonales > .modal-dialog{
   width: 800px;
}

#modalDetalleGrupo > .modal-dialog{
  width: 500px;
}

#modalActividad > .modal-dialog{
  width: 500px
}

#modalDetalleActividad > .modal-dialog{
  width: 500px
}

#modalEditarActividad > .modal-dialog{
  width: 500px;
}

#padCalRight{
  padding-right:2px;
}

#padCalifLeft{
  padding-left:2px;
}
/*************************
Responsive design
*/
/**Resoluci贸n celular portrait**/
@media (min-width: 320px) and (max-width: 480px) {
  .rowContainer{
    width: 100% !important;
  }

  .textBienvenido{
    font-size:16px;
  }

  .panel-body{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .panelAdministracionUsuarios{
    margin-left:0px !important;
    margin-right:0px !important;
  }

  #modalPersonales > .modal-dialog{
     width: 100%;
     margin: 0px auto !important;
  }

  #modalDetalleGrupo > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }

  #modalActividad > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }

  #modalDetalleActividad > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }
  #modalEditarActividad > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }

  #padCalRight{
    padding-right:15px !important;
  }

  #padCalifLeft{
    padding-left:15px !important;
  }

  #btnGuardarCalificaciones{
    margin-bottom: 10px !important;
  }

  .collapse{
    display: block;
  }

  .navbar-right{
    float: right!important;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }

  .navbar-nav{
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-top: 0px!important;
  }

  /*Responsive para usuarios semillas*/
  #row_cambiar_clave{
    width: 100% !important;
  }
  #row_cambiar_clave > table > tbody > tr > td{
    padding-left: 10px !important;
  }

  #titulo_grupo{
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 10px !important;
  }

  #informacion_personal{
    width: 100% !important;
  }
}

/*Resoluci贸n celular landscape*/
@media (min-width: 481px) and (max-width: 767px) {
  .rowContainer{
    width: 100% !important;
  }

  .panel-body{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .panelAdministracionUsuarios{
    margin-left:10px !important;
    margin-right:10px !important;
  }

  #modalPersonales > .modal-dialog{
     width: 100%;
     margin: 0px auto !important;
  }
  #modalDetalleGrupo > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }

  #modalActividad > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }
  #modalDetalleActividad > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }
  #modalEditarActividad > .modal-dialog{
    width: 100%;
    margin: 0px auto !important;
  }

  #padCalRight{
    padding-right:15px !important;
  }

  #padCalifLeft{
    padding-left:15px !important;
  }
  #btnGuardarCalificaciones{
    margin-bottom: 10px !important;
  }

  .collapse{
    display: block;
  }

  .navbar-right{
    float: right!important;
  }

  .navbar-nav{
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-top: 0px!important;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }

  /*Responsive usuarios semillas*/
  #row_cambiar_clave{
    width: 100% !important;
  }

  #row_cambiar_clave > table > tbody > tr > td{
    padding-left: 10px !important;
  }

  #row_cambiar_clave > table > tbody > tr > td > input{
    margin: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: 100% !important;
  }

  #column_inputs{
    padding-right: 5px !important;
  }

  #titulo_grupo{
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 10px !important;
  }

  #informacion_personal{
    width: 100% !important;
  }
}

/*@media screen and (min-device-width : 375px) {
	.form-signin{
		width: 350px !important;
	}
}*/

/*Resoluci贸n tables*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
}

/**Resoluci贸n tables landscape*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .panelAdministracionUsuarios{
    margin-left:10px !important;
    margin-right:10px !important;
  }

  #padCalRight{
    padding-right:15px !important;
  }

  #padCalifLeft{
    padding-left:15px !important;
  }
}
