{% extends 'layout/layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="navbar navbar-default" style="margin:0px">
    <div class="row" style="margin-left:0px; margin-right:0px; height:130px">
      <div class="col-md-1">
        <div class="" style="display: table;height: 130px;overflow: hidden;">
          <div class="" style="display: table-cell; vertical-align: middle">
            <a href="#">
              <span>
                <i class="glyphicon glyphicon-arrow-left" style="color: #000; width: 60px; font-size: 22px;"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-10" align="center">
        <img alt="logoSemillero" style="height:130px; padding:10px" src="{{asset('public/images/logoSemilleroUniversitario.png')}}">
      </div>
      <div class="col-md-1">
        <div class="" style="display: table;height: 130px;overflow: hidden;">
          <div class="" style="display: table-cell; vertical-align: middle">
            <a href="{{ path('indexAdmin') }}">
              <span>
                <i class="glyphicon glyphicon-home" style="color: #000; width: 60px; font-size: 22px;"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
