<footer class="footer bg-inverse text-center" style="position: absolute;bottom: 0px;width: 100%;">
<div class="container">
  <div class="row" style="padding-top:20px; padding-bottom:20px;">
    <div class="col-md-4" >
      <div class="text-center text-white">
        <img src="{{asset('public/images/semillero_universitario.png')}}" alt="img_semillero_universitario.png" style="width:100%; height:125px">
        <p style="margin:0 auto">
          <strong>Tel:+57 321 851 42 05</strong><br>
          <strong>Tel:+57 316 250 01 19</strong>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center text-white">
        <p style="margin:0 auto">
          <h7><strong>SEMILLERO UNIVERSITARIO</strong></h7>
        </p>
        <p style="margin:0 auto">
          <h7><strong>UNIVERSIDAD DEL QUINDÍO</strong></h7>
        </p>
        <p>
          Carrera 15 Calle 12N<br>
          Armenia, Quindío - Colombia<br>
          Bloque Facultades<br>
          Ciencias Básicas - Ciencias Humanas<br>
          Piso 1 (Pasillo Izquierdo al fondo)
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center text-white">
        <p>
          Teléfonos: +57 735 93 34<br>
          +57 735 93 00 Ext 334 ó 975<br>
          Celular Claro: 321 851 4205<br>
          Celular Movistar: 316 250 01 19<br>
          <a href="mailto:semillero@uniquindio.edu.co" style="color:#3af">semillero@uniquindio.edu.co</a><br>
          <a href="mailto:preicfes@uniquindio.edu.co" style="color:#3af">preicfes@uniquindio.edu.co</a><br>
          <!--Inicio sesion-->
          <a href="#" style="color:#3af">Iniciar sesión</a>
        </p>
      </div>
    </div>
  </div>
</div>
</footer>
