<div class="panelAdministracionUsuarios">
  <div class="" style="width:100%; text-align:center; display:table; height:50px; background-color:#f5f5f5; margin-bottom:20px">
    <div class="" style="display:table-cell; vertical-align: middle">
      Cambio de clave
    </div>
  </div>
  <div class="row" style="margin:0px auto; width:50%">
    <table align="center" class="table-responsive">
      <div class="div_message_error" style="display:none" align="center">
        <p id="message_error" style="display:none;background: #900; color: white; padding: 5px 5px;border-radius: 3px;">contraseña erronea</p>
      </div>

      <tbody>
        <tr>
          <td style="padding-right:5px">
            <label for="" style="margin:0px">Clave actual :</label>
          </td>
          <td>
            <input id="cambio_clave_actual" style="margin:5px" type="password" name="" value="" maxlength="12" required>
          </td>
        </tr>
        <tr>
          <td style="padding-right:5px">
            <label for="" style="margin:0px">Nueva clave :</label>
          </td>
          <td>
            <input id="cambio_clave_nueva" style="margin:5px" type="password" name="" value="" maxlength="12" required>
          </td>
        </tr>
        <tr>
          <td style="padding-right:5px">
            <label for="" style="margin:0px">Confirmar nueva clave :</label>
          </td>
          <td>
            <input id="cambio_clave_confirmacion" style="margin:5px" type="password" name="" value="" maxlength="12" required>
          </td>
        </tr>
      </tbody>
    </table>
    <div align="center" style="margin-top:5px">
      <button id="guardar_clave" type="button" name="button" class="btn btn-success">Guardar</button>
    </div>
  </div>
</div>
