{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}

{% block body %}
{{parent()}}
<div class="container">
    {% embed "UsuariosBundle:Shared:navBarSemillas.html.twig" %}
    {% block tab_informacion %}active{% endblock %}
    {% endembed %}
</div>
<div class="container" style="margin-top:20px">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panelAdministracionUsuarios">
        <div class="" style="width:100%; text-align:center; display:table; height:50px; background-color:#f5f5f5; margin-bottom:20px">
          <div class="" style="display:table-cell; vertical-align: middle">
            Información personal
          </div>
        </div>
        <div class="row" style="margin:0px auto; width:50%">
          <div class="col-md-12 col-xs-12 text-center">
            <a class="btn btn-default verDatos" data-toggle="modal" data-target="#modalDatosPersonalesSemilla" style="border-radius:20px; width:100%; margin-bottom:20px">Datos personales</a>
          </div>
          <div class="col-md-12 col-xs-12 text-center">
            <a href="{#{path('gestionGruposAsignados')}#}" class="btn btn-default" style="border-radius:20px; width:100%; margin-bottom:20px">Cambiar clave</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal datos personales-->
<div class="modal fade" id="modalDatosPersonalesSemilla">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentDatosPersonales">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{asset('public/js/usuarios_semillas.js')}}"></script>
{% endblock %}
