{% extends 'layout/layout.html.twig' %}

{% block body %}
<div class="" style="webkit-box-shadow: 0px 10px 5px 7px rgba(0,0,0,0.08); -moz-box-shadow: 0px 10px 5px 7px rgba(0,0,0,0.08); box-shadow: 0px 10px 5px 7px rgba(0,0,0,0.08); border-bottom: 10px solid; padding: 30px 0px 30px 0px; background-color: #e7e7e7; margin-bottom: 40px;">
  <div class="" style="position: absolute; right: 10px; top: 15px;">
    <h4>
      <a href="{{path('adminLogout')}}">Cerrar sesión</a>
    </h4>
  </div>
</div>

</div>
<div class="row" style="margin-left:0px; margin-right:0px">
  <div class="" style="height: 70%; display: flex; justify-content: center; align-items: center;">
    <a href="{{path('indexAdmin')}}" style=" height: 150px; width: 150px; margin: 10px; position: relative; cursor: pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <img src="{#{asset('public/images/administracion.png')}#}" alt="" style="display:block; margin:0px auto;padding-top:10%">
      <div class="" style="position: absolute; bottom: 0; width: 100%; background-color: #8f9194; padding: 5%; text-align: center; color: #FFFFFF;">Administración</div>
    </a>
  </div>

</div>
<div class="row" style="margin-left:0px; margin-right:0px">
  <div class="" style="height: 70%; display: flex; justify-content: center; align-items: center;">
    <a href="{{path('indexAdmin')}}" style=" height: 150px; width: 150px; margin: 10px; position: relative; cursor: pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <img src="{#{asset('public/images/operaciones.png')}#}" alt="" style="display:block; margin:0px auto;padding-top:10%">
      <div class="" style="position: absolute; bottom: 0; width: 100%; background-color: #8f9194; padding: 5%; text-align: center; color: #FFFFFF;">Operaciones</div>
    </a>
  </div>
</div>
{% endblock %}
