{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}

{% block body %}
{{parent()}}
<div class="container">
    {% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
    {% endembed %}
</div>
{% endblock %}
