{% extends 'layout/layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="navbar navbar-default">
    <div class="row" style="margin-left:0px; margin-right:0px; height:130px">
      <div class="col-md-1">
        <div class="" style="display: table;height: 130px;overflow: hidden;">
          <div class="" style="display: table-cell; vertical-align: middle">
            <a href="#">
              <span>
                <i class="glyphicon glyphicon-arrow-left" style="color: #000; width: 60px; font-size: 22px;"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-10" align="center">
        <div class="">
          <img alt="logoSemillero" style="height:130px; padding:10px" src="{{asset('public/images/logoSemilleroUniversitario.png')}}">
        </div>
      </div>
      <div class="col-md-1">
        <div class="" style="display: table;height: 130px;overflow: hidden;">
          <div class="" style="display: table-cell; vertical-align: middle">
            <a href="#">
              <span>
                <i class="glyphicon glyphicon-home" style="color: #000; width: 60px; font-size: 22px;"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="outer" style="display: table;position: absolute;height: 130px;width: 100%;">
        <div class="middle" style=" display: table-cell;vertical-align: middle;">
          <div class="inner" style=" margin-left: auto;margin-right: auto; ">
            <div class="col-md-2 col-md-offset-2">
              <h3>texto</h3>

            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="collapse navbar-collapse" style="background-color: #f8f8f8; border-color: #e7e7e7; padding:0px">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">Mentores</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
