{% extends 'layout/layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="navbar navbar-default">
    <div class="row" style="margin-left:0px; margin-right:0px; height:130px">
      <div class="col-md-2">
        <img alt="logoSemillero" style="height:130px; padding:10px" src="{{asset('public/images/logoSemilleroUniversitario.png')}}">
      </div>
      <!-- <div class="outer" style="display: table;position: absolute;height: 130px;width: 100%;">
        <div class="middle" style=" display: table-cell;vertical-align: middle;">
          <div class="inner" style=" margin-left: auto;margin-right: auto; ">
            <div class="col-md-2 col-md-offset-2">
              <h3>texto</h3>

            </div>
          </div>
        </div>
      </div> -->
    </div>



  </div>
</div>

{% endblock %}
